<div class="container">
    <form class="form-inline">
        <div class="form-group mb-auto ">
            <label for="staticEmail2" class="sr-only">Buscar</label>
            <input type="text" class="form-control" id="buscar" placeholder="Buscar...">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <select class="custom-select mr-sm-2" id="limite">
                <option value="5">limite de busqueda...</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
        <button class="btn btn-primary mb-2" onclick="peticion(event)">Buscar</button>
    </form>
</div>