<!DOCTYPE html>
<html lang="en">
    <head>
        <title>API itunes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/style/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
        <script src="/style/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/style/css/index.css">
        
    </head>
    <body>
        <div class="container">
            <% include partials/carousel %>
            <% include partials/navigation %>
            <div class="fondo">
                <% include partials/form %>             
            </div>
            <div id="contenido" class="fondo">
                
            </div>
        </div>
        


       
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

<script>
    function peticion(event) 
    {
        event.preventDefault();
        const buscar = document.getElementById("buscar").value;
        const limite = document.getElementById("limite").value;
        const url = '/api?busqueda=' + buscar + '&limit=' + limite; //url al cual se hara la peticion fetch
        console.log(url);
        fetch(url, {
            method: "GET"
        })
        .then((res)=>{
            if(res.ok)
                return res.json();
            else
                throw "error";   
        })
        .catch((error)=>{
            console.log(error);    
        })
        .then((res)=>{
            console.log(res);
            borrarOption();
            cargarDatos(res.results);
        });
    }

    function cargarDatos(array){
        let html = '';
        const elemento = document.getElementById('contenido');

        for(let i=0; i < array.length; i++){
            html = html + "<h4>" + array[i].artistName + "</h4>"
            html = html + "<img src="+array[i].artworkUrl100+" alt='imagen'>"
            html = html + "<h4>" + array[i].trackName + "</h4>"
            html = html + "<h4>" + array[i].collectionCensoredName + "</h4>"
        }
        html = html + '<br/>'

        elemento.insertAdjacentHTML('beforeend', html);
    } 

    function borrarOption() {
        const elemento = document.getElementById('contenido'); // encuentra el select al cual se le limpiaran las opciones 
        while (elemento.firstChild) // elimina las opciones
        {
            elemento.removeChild(elemento.firstChild);
        }    
    }

</script>